html .mceContentBody {
  font-size: 15px;
  max-width: 730px;
}

body {
  color: #23292b;
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  vertical-align: baseline;
}

blockquote {
  border-left: 5px solid #cccccc;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  padding-left: 20px;
}

p {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}
