// Based off Formalize
// https://github.com/nathansmith/formalize

form {
	@include pxrem(font-size, $form-font-size);
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

input,
button,
a.button,
select,
textarea {
	// Suppress red glow that Firefox
	// adds to form fields by default.
	&:invalid {
		box-shadow: none;
	}
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus,
	&:active {
		box-shadow: none;
	}
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	@extend %button;
	@include pxrem(font-size, $btn-font-size);
	@include pxrem(padding, 10px 20px);
	-webkit-appearance: none;
	background-clip: padding-box;
	border-radius: $btn-border-radius;
	border: 1px solid $btn-border-color;
	cursor: pointer;
	color: $btn-font-color;
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	outline: 0;
	overflow: visible;
	margin: 0;
	text-decoration: none;
	vertical-align: top;
	width: auto;

	&:hover {
		background: $white;
		color: $link-color;
		text-decoration: none;
	}

	// Kill phantom spacing and dotted
	// border that appears in Firefox.
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	@include pxrem(padding, 5px);
	@include pxrem(font-size, $input-font-size);
	box-sizing: border-box;
	background-clip: padding-box;
	border-radius: $input-border-radius;
	-webkit-appearance: none;
	background-color: $input-bg-color;
	border: 1px solid $input-border-color;
	color: $input-font-color;
	font-family: $input-font-family;
	outline: 0;
	margin: 0;
	text-align: left;
	height: 2.5em;
	vertical-align: top;

	&[disabled] {
		background-color: #eee;
	}
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
	box-shadow: none;
	user-select: none;
	color: #888;
	cursor: default;
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $placeholder-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: $placeholder-color;
}

input.placeholder_text,
textarea.placeholder_text {
	color: $placeholder-color;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: opacity 0.5s 0.5s ease;
	opacity: 0;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
	height: 2.5em;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: 3px;
	}

	select,
	select[size="0"],
	select[size="1"] {
		background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 20px;
	}

	::-webkit-validation-bubble-message {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
		border: 0;
		color: white;
		font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: black 0 0 1px;
		min-height: 16px;
	}

	::-webkit-validation-bubble-arrow,
	::-webkit-validation-bubble-top-outer-arrow,
	::-webkit-validation-bubble-top-inner-arrow {
		box-shadow: none;
		background: #666;
		border-color: #666;
	}
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	color: $input-font-color;
	font-style: normal;
	font-weight: normal;
	font-family: $input-font-family;

	// Kill phantom spacing and dotted
	// border that appears in Firefox.
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}