figure > img{
    display: block;
}

img {
	height: auto;
	max-width: 100%;
}

img[class*="align"],
img[class*="attachment-"] {
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
	width: 100%; 
}