figure {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	> img {
	    display: block;
	}
}

img {
	height: auto;
	max-width: 100%;
}

img[class*="align"],
img[class*="attachment-"] {
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
	width: 100%; 
}

.wp-caption {
	img {
		@include pxrem(margin-bottom, 5px);
	}
}

.wp-caption-text {
	font-style: italic;
	color: $gray-darker;
}