.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@extend %center-block;
	clear: both;
}

.alignnone {
    display: block;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.sticky,
.bypostauthor {
	background: inherit;
	color: inherit;
}