.footer-item {
	@extend .container;
}

.site-info {
	@include pxrem(margin-bottom, 30px);
	text-align: center;

	.powered {
		display: block;
	}

}

/**
 * Back to top
 */
#scrollUp {
	bottom: 20px;
	right: 20px;
	padding: 8px;
	background-color: #000;
	color: #fff;
	&:hover {
		background-color: $accent-1;
	}
}