/**
 * Header sidebar
 */
.widget-header {

	@include min-screen(320px) {
		@include span(12 of 12 last);
	}

	@include min-screen(800px) {
		@include span(9 of 12 last);
	}

}

/**
 * Home sidebar
 */
.has-left-sidebar {

	.widget-home {
		float: left;
		width: 17%;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;

		.widget {
			border-right: 0;
		}

		@include min-screen(320px) {
			display: none;
		}

		@include min-screen(1024px) {
			display: block;
		}

	}

}

/**
 * Primary sidebar
 */
.widget-primary {

	@include min-screen(600px) {
		width: 100%;
		float: none;
	}

	@include min-screen(768px) {
		width: 34%;
		float: right;
	}

}

.widget-area {

	.widget {
		@include pxrem(margin, 0 0 -1px -1px);
		@include pxrem(padding-bottom, 10px);
		border: 1px solid $border-color;

		&:hover .widget-title {
			border-bottom-color: #ff0000;
			color: #666;
		}

		> div {
			@include pxrem(padding, 10px 20px);
		}

		> select,
		> form {
			@include pxrem(margin, 10px 20px);
		}

		select {
			max-width: 100%;
		}

	}

	.widget-title {
		@include pxrem(margin, 0 0 10px 0);
		@include pxrem(padding, 10px 20px);
		@include font-size(14);
		background: #f4f4f4;
		border-bottom: 1px solid $border-color;
		color: #666;
		font-weight: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-shadow: 0 1px 0 #fff;
	}

	ul {
		@extend %reset-list;
	}

	li {
		@include pxrem(padding, 8px 20px 8px 30px);
		position: relative;
		
		&:hover {
			background-color: #ddf0f9;
		}

		a {
			position: relative;
			&:first-child {
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -0.7em;
					margin-top: -3px;
					height: 0;
					width: 0;
					border: 3px solid transparent;
					border-left-color: $gray-darker;
				}
			}
		}

	}

}

/**
 * Footer sidebar
 */
.widget-footer {
	@extend %clearfix;
	@include pxrem(padding, 20px 25px);
	@include pxrem(margin-bottom, 20px);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
	background: #50B7DC;
	border-bottom: 1px solid #2693BA;
	color: $white;

	.widget {

		@include min-screen(320px) {
			@include span(12 of 12 last);
		}

		@include min-screen(600px) {
			@include span(6 of 12);
			&:nth-child(2n) {
				@include last;
			}
		}
		
		@include min-screen(800px) {
			@include span(3 of 12);
			@include font-size(12);
			&:nth-child(2n) {
				margin-right: gutter(12);
				float: left;
			}
			&:nth-child(4n) {
				@include last;
			}
		}

		li {
			@include pxrem(padding, 2px 0 2px 0);
		}
	}

	.widget-title {
		@include pxrem(margin-bottom, 10px);
		@include font-size(13);
		color: $white;
		text-transform: uppercase;
	}

	a,
	a:visited {
		color: $white;
	}

}

/**
 * Custom category widget.
 */
.widget-area {

	.delivery-categories {
		padding-bottom: 0;

		li {
			padding: 0;
			a::before {
				border-left-color: transparent;
			}
		}
	}

}

.delivery-categories {

	li {
		&:hover {
			background: none;
			a {
				border-bottom-color: #ff0000;
			}
		}

		&:last-child {
			a {
				border-bottom: 0;
			}
		}
	
		a {
			border-bottom: 1px solid #e9e9e9;
			color: #41B7D8;
			display: block;
			font-size: 14px;
			font-weight: normal;
			padding: 10px 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			&:hover {
				background: #fff283;
			}
		}

	}

	.children {
		background: #f4f4f4;
		border-bottom: 1px solid #e9e9e9;

		a {
			border-bottom: none;
			color: #999;
			font-size: 13px;
			letter-spacing: 0;
			padding: 7px 20px;
			text-transform: none;
		}

	}

}

/**
 * Recent Comment Widget
 */
.widget-area {

	.widget_recent_comments {

		li {
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 1.5em;
				margin-top: -3px;
				height: 0;
				width: 0;
				border: 3px solid transparent;
				border-left-color: $gray-darker;
			}
			a::before {
				border-left-color: transparent;
			}
		}
	}

}

/**
 * Search Widget
 */
.widget_search {

	.searchform {
		width: 100%;
		float: none;
		div {
			float: none;
		}
		.field {
			width: 86%;
			border-color: $border-color;
		}
	}

}

/**
 * Nav Menu Widget
 */
.widget-area .widget_nav_menu {

	div {
		padding: 0;
	}

}